header,footer {
    background-color: #9FFFFF;
    display: flex;
    align-items: center;
    justify-content:center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; 
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Increase readability of list */
ul {
  list-style-position: inside;
  list-style-type: none;
  line-height: 0.4;
}